[Unit]
Description=App usage & resource monitor

[Service]
ExecStart=/usr/bin/python3 /home/pi/Code/app-monitor/monitor.py run
Restart=on-failure

[Install]
WantedBy=default.target
